.chat-view {
    width: 80%;
    height: 80vh;
    border-radius: 50px;
    background: #1e1e1f;
    box-shadow: inset 18px 18px 16px #1a1a1b,
    inset -18px -18px 16px #222223;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-info {
    width: 85%;
    height: 25%;
    border-radius: 50px;
    background: #222222;
    box-shadow: inset 18px 18px 36px #1b1b1b,
    inset -18px -18px 36px #292929;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-info form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.chat-info label {
    text-align: center;
    /*text-transform: uppercase;*/
}

.chat-info textarea{
    width: 100%;
    height: 70%;
    margin-bottom: 40px;
    margin-top: 20px;
    color: #101010;
    font-size: .8rem;
    font-weight: bold;
    text-align: center;
    border-style: none;
    border-radius: 50px;
    background: #505053;
    box-shadow: inset 8px 8px 16px #3a3a3d,
    inset -8px -8px 16px #666669;
    resize: none;
    padding: 10px 20px;
}

.chat-chat {
    width: 85%;
    height: 65%;
    border-radius: 50px;
    background: #292929;
    box-shadow: inset 18px 18px 36px #1e1e1e,
    inset -18px -18px 36px #343434;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    /*prevent from showing scrollbar*/
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.chat-chat::-webkit-scrollbar {
    display: none; /* Chrome, Opera */
}

.chat-chat p {
    padding: 10px 35px;
}

.client-ask {
    color: #666669;
    margin-bottom: 5px;
}

.send-btn {
    height: 20%;
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: .7rem;
    font-weight: normal;
    padding: 5px;
    transition: .5s;
    background-color: #505053;
    box-shadow: inset 7px 7px 15px #3d3d41,
    inset -7px -7px 15px #3c3c3f;
;
}