.admin-orders {
    width: 90%;
    height: 70%;
    padding: 5px 0;
    margin-top: 15px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #1e1e1f;
    box-shadow: inset 18px 18px 16px #1a1a1b,
    inset -18px -18px 16px #222223;

    /*prevent from showing scrollbar*/
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.admin-orders::-webkit-scrollbar {
    display: none; /* Chrome, Opera */
}