.admin-wrapper {
    width: 100%;
    height: 100vh;
    background-color: #0B0B0C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-aside, .admin-main, .admin-current, .admin-controls {
    height: 95vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-aside {
    width: 25%;
    margin-right: 20px;
}

.admin-main {
    width: 65%;
    align-items: stretch;
}

.admin-current {
    height: 80%;
    width: 100%;
    flex-direction: row;
}

.admin-controls {
    height: 10%;
    width: 95%;
    margin-top: 20px;
    flex-direction: row;
}

.admin-controls p {
    margin-left: 50px;
}

.admin-chat {
    height: 100%;
    width: 40%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}