.order-bike {
    position: relative;
    width: 90%;
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: .5s;
    background: #282828;
    box-shadow: inset 18px 18px 36px #1e1e1e,
    inset -18px -18px 36px #343434;
}

.order-bike:hover {
    box-shadow: inset 30px 30px 48px #1e1e1e,
    inset -30px -30px 48px #343434;
    text-shadow: 2px 2px 2px #0c0c0c;
    filter: drop-shadow(0 0 2px #E55E04);
}

.order-bike p {
    padding: 2px 0;
    margin-bottom: 5px;
}

.order-date {
    color: #aaa;
    font-weight: bold;
}

.order-model {
    color: #ad8165;
    font-weight: bold;
    text-transform: uppercase;
}

.order-owner {
    color: #13A6ED;
    text-transform: uppercase;
}

.order-status {
    width: 80%;
    margin-top: 3px;
    border-top: 2px dotted #ccc;
    text-align: center;
}

p.order-status {
    padding-top: 10px;
}

.oldMsg {
    display: none;
}

.newMsg {
    position: absolute;
    top: 10%;
    left: 10%;
}